/* Add some CSS that will be injected into Canvas */
.canvascbl-dashboard-grade-container {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 36px;
  height: 36px;
  background-color: rgba(224, 224, 224, 0.25);
  border: 1px solid transparent;
  border-radius: 5px;
  backdrop-filter: blur(3px);
  text-align: center;
  transition: width 250ms, height 250ms;
}

.canvascbl-dashboard-grade-container:hover .canvascbl-dashboard-grade {
    display: none;
}

.canvascbl-dashboard-grade-container:hover .canvascbl-dashboard-expanded-grade-container {
    display: block;
    overflow-wrap: break-word;
    text-align: left;
    padding: 7px 10px;
}

.canvascbl-dashboard-grade-container:hover {
    width: 75%;
    height: auto;
    max-height: 60%;
}

.canvascbl-dashboard-expanded-grade-container {
    display: none;
    color: white;
}

.canvascbl-dashboard-expanded-grade-container-grade {
    font-weight: bold;
    font-size: 1.5em;
}

.canvascbl-dashboard-grade {
  color: white;
  font-size: 135%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvascbl-dashboard-ref {
    width: 148px;
    height: 30px;
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/grades_from_canvascbl.png);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
}

.canvascbl-hr {
    margin: 4px 0;
}