/* Add some CSS that will be injected into Canvas */
.canvascbl-dashboard-grade-container {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 36px;
  height: 36px;
  background-color: rgba(224, 224, 224, 0.25);
  border: 1px solid transparent;
  border-radius: 5px;
  backdrop-filter: blur(3px);
  text-align: center;
  transition: width 250ms, height 250ms;
}

.canvascbl-dashboard-grade-container:hover .canvascbl-dashboard-grade {
    /*display: none;*/
}

.canvascbl-dashboard-grade-container:hover .canvascbl-dashboard-expanded-grade-container {
    display: block;
    overflow-wrap: break-word;
    text-align: left;
    padding: 7px 10px;
    animation-name: openTransition;
    animation-duration: 0.3s;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

.canvascbl-dashboard-grade-container:hover .canvascbl-dashboard-grade {
    margin-left: 11px;
    margin-top: 5px;
    font-weight: 500;
}

@keyframes openTransition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.canvascbl-dashboard-grade-container:hover {
    width: 75%;
    height: auto;
    max-height: 60%;
}

.canvascbl-dashboard-expanded-grade-container {
    display: none;
    opacity: 0;
    color: white;
}

.canvascbl-dashboard-expanded-grade-container span:nth-child(1) {
    margin-left: 32px;
}

.canvascbl-dashboard-expanded-grade-container-grade {
    font-weight: bold;
    font-size: 1.5em;
}

.canvascbl-dashboard-grade {
    position: absolute;
    color: white;
    font-size: 135%;
    transition: .25s;
    line-height: normal;
    top: 0;
    left: 0;
    margin: 4px 0 0 9px;
    /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

.canvascbl-dashboard-ref {
    width: 148px;
    height: 30px;
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/grades_from_canvascbl.png);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
}

.canvascbl-hr {
    margin: 4px 0;
}